<template>
    <div>
        <input @change="uploadFiles" type="file" name="file" multiple class="form-control hidden"/>
        <div class="form-group">
            <button @click="uploadButtonClick()" type="button" class="btn btn-primary">Добавить файлы</button>
        </div>

        <div v-for="fileGroup in fileGroups">
            <h5>{{fileGroup.title}}</h5>

            <draggable v-model="values[fileGroup.id]" :options="{group:'files'}" style="min-height: 30px; margin-bottom: 20px;">
                <div v-for="v, idx in values[fileGroup.id]" :class="{'delete': v.delete, 'error': v.error}"
                     class="drag-item">
                    <div class="icon-move"></div>
                    <div @dblclick="enableEdit(fileGroup.id, idx)" class="value">
                        <div v-if="v.edit">
                            <input v-model="v.file_title" type="text" class="form-control"/>
                        </div>
                        <div v-else-if="!v.done && !v.error">
                            <progress :value="v.bytesUploaded" :max="v.bytesTotal"></progress>
                        </div>
                        <div v-else>
                            {{v.file_title}}
                        </div>

                    </div>
                    <div class="button" v-if="v.done">
                        <button v-if="v.edit == true" type="button" class="btn btn-primary btn-sm"
                                @click="disableEdit(fileGroup.id, idx)">
                            OK
                        </button>
                        <button v-else type="button" class="btn btn-outline-warning btn-sm" @click="enableEdit(fileGroup.id, idx)">
                            Edit
                        </button>
                    </div>
                    <div class="button" v-if="v.done">
                        <button v-if="!v.delete" type="button" class="btn btn-outline-danger btn-sm"
                                @click="v.delete=true">
                            Delete
                        </button>
                        <button v-else type="button" class="btn btn-secondary btn-sm" @click="v.delete=false">Cancel
                        </button>
                    </div>

                    <input v-if="!v.delete" :value="1" :name="'files['+v.id+'][selected]'" type="hidden"/>
                    <input v-if="!v.delete" :value="v.file_title" :name="'files['+v.id+'][title]'" type="hidden"/>
                    <input v-if="!v.delete" :value="v.file_id" :name="'files['+v.id+'][file_id]'" type="hidden"/>
                    <input v-if="!v.delete" :value="fileGroup.id" :name="'files['+v.id+'][group_id]'" type="hidden"/>
                    <input v-if="v.delete" :value="v.file_id" :name="'files['+v.id+'][deleted]'" type="hidden"/>
                </div>
            </draggable>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import axios from 'axios'

    export default {
        components: {
            draggable,
        },
        props: ['model', 'fileGroups'],
        data() {
            return {
                values: {},
                uploadFilesCounter: 0,
            }
        },
        methods: {
            uploadButtonClick() {
                document.querySelector('[name="file"]').click();
            },
            uploadFiles() {
                this.doFilesUpload(document.querySelector('[name="file"]'))
            },
            doFilesUpload(input) {
                let files = input.files;
                let vm = this;

                if (files.length > 0) {
                    for (let i = 0; i < files.length; i++) {
                        let file = {
                            id: 0,
                            title: null,
                            bytesUploaded: 0,
                            bytesTotal: 0,
                            done: false,
                            error: false,
                            edit: false,
                            delete: false,
                        };

                        this.values[null].push(file);

                        let formData = new FormData();
                        formData.append('file', files[i]);

                        axios.post('/admin/upload/file', formData, {
                            headers: {'Content-Type': 'multipart/form-data'},
                            onUploadProgress: function (e) {
                                file.bytesUploaded = e.loaded;
                                file.bytesTotal = e.total;
                            }
                        }).then(function (r) {
                            file.done = true;
                            // file.id = r.data.id;
                            file.id = --vm.uploadFilesCounter;
                            file.file_id = r.data.id;
                            file.file_title = r.data.title;
                            file.error = r.data.error;
                        }).catch(function (r) {
                            file.id = null;
                            file.file_title = null;
                            file.error = true;
                        });
                    }
                }

                input.value = null;
            },
            enableEdit(groupId, idx) {
                this.values[groupId][idx].edit = true;
            },
            disableEdit(groupId, idx) {
                this.values[groupId][idx].edit = false;
            },
        },
        mounted() {
            let vm = this;

            vm.fileGroups.forEach(function (e, i) {
                Vue.set(vm.values, e.id, []);
                console.log(1);

                for (let i = 0; i < vm.model.files.length; i++) {
                    let file = vm.model.files[i];

                    if (file.file_group_id == e.id) {
                        file.bytesUploaded = 0;
                        file.bytesTotal = 0;
                        file.done = true;
                        file.error = false;
                        file.edit = false;
                        file.delete = false;

                        vm.values[e.id].push(file);
                    }
                }
            });
        }
    }
</script>
